/* Universal box-sizing */

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

body {
    font-family: 'Rubik';
    font-size: 16px;

}

/* ////////////////// MOBILE-FIRST ////////////////// */

/* Estils del menú */

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    background-color: white;
}

.menucontent {
    padding: 0 24px;
}

.statbar {
    width: 100%;
    background-color: black;
}

.statcontainer {
    max-width: 1440px;
    margin: 0 auto;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date, .weatherinfo {
    font-size: 10px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

.date {
    margin-left: 12px;
}

.weatherinfo {
    margin-right: 12px;
}

.categories {
    display: flex;
    justify-content: space-around;
}

.categories > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.categories > ul li {
    font-weight: 500;
    font-size: 14px;
    margin: 20px 0;
}

.categories > ul li a {
    text-decoration: none;
    color: black;
}

.open {
    left: 0;
}

.calicon, .weathericon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.calicon {
    background: url(../img/calendar.svg) center no-repeat;
}

.weathericon {
    background: url(../img/sun.svg) center no-repeat;
}

.closeicon {
    width: 22px;
    height: 22px;
    background: url(../img/close.svg) center no-repeat;
    margin: 18px 12px;
}

select {
    -webkit-appearance: none;
    background-color: white;
    background: url(../img/down.svg) no-repeat right center;
    background-size: 20px 20px;
    height: 34px;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid black;
}

.locselec, .orderselec {
    width: 100%;
}

.distselec {
    width: 147px;
}

/* Estils de la pàgina */

.menubar {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 999;
}

.menuicon {
    width: 19px;
    height: 22px;
    background: url(../img/menu.svg) center no-repeat;
    vertical-align: middle;
    margin-left: 20px;
}

.logo {
    width: 139px;
    height: 41px;
    background: url(../img/logo_S.svg) center no-repeat;
    vertical-align: middle;
}

.searchicon {
    width: 22px;
    height: 26px;
    background: url(../img/search.svg) center no-repeat;
    vertical-align: middle;
    margin-right: 20px;
}

header {
    width: 100%;
    overflow: hidden;
}

.headimg {
    width: 100%;
    height: 100vh;
    margin-top: 75px;
    background: url(../img/mariogas.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.headbox {
    position: absolute;
    bottom: 75px;
    left: 0;
    height: 21vh;
    background-color: rgba(0, 0,0, .75);
    padding: 15px 12px;
}

.linkcontainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.catbox {
    width: 164px;
    height: 30px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: #0071CE;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainlink {
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.highlight {
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 40px 0 200px 0;
    margin-top: -75px;
}

.topsemanal, .opinion, .planes {
    height: 24vh;
    margin: 0 12px 20px 12px;
    display: flex;
    align-items: center;
}

.topsemanal {
    background:
        linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
        url(../img/topsemanal.jpg) center no-repeat;
    background-size: cover;
}

.opinion {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url(../img/opinion.jpg) center no-repeat;
    background-size: cover;
}

.planes {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../img/planes.jpg) center no-repeat;
    background-size: cover;
}

.hlink {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 20px;
}

section {
    padding: 0 12px;
}

section > h3 {
    font-size: 26px;
}

.popular {
    margin-top: -180px;
    color: white;
}

/* --- Miniatures articles / events --- */

.imagebox {
    height: 320px;
    position: relative;
    margin: 40px 0;
    background-color: #eee;
}

.elementbox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0,0, .75);
    padding: 15px 12px;
}

.element-link-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.catbox-small {
    width: 164px;
    height: 30px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: #0071CE;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

/* --- Footer --- */

footer {
    background-color: black;
}

.footerwrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 40px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copyright {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.copyright > span {
    font-size: 14px;
    color: white;
    align-self: center;
}

.footerlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerlist li {
    padding: 10px 0;
}

.footerlist li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.footericon {
    width: 189px;
    height: 70px;
    background: url(../img/logo_footer.svg) center no-repeat;
    vertical-align: middle;
    align-self: center;
}

.socialicons {
    width: 220px;
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.social h4 {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.facebook, .twitter, .instagram, .pinterest {
    width: 48px;
    height: 48px;
}

.facebook {
    background: url(../img/facebook.svg) center no-repeat;
}

.twitter {
    background: url(../img/twitter.svg) center no-repeat;
}

.instagram {
    background: url(../img/instagram.svg) center no-repeat;
}

.pinterest {
    background: url(../img/pinterest.svg) center no-repeat;
}

/* Estils propis de l'article */

.articleheader {
    height: 60vh;
}

.articleheader > .headwrapper-article > .headimg {
    position: relative;
    height: 60vh;
}

.articlecatbox {
    position: relative;
    margin: 0;
    margin-top: -15px;
    z-index: 998;
}

article {
    padding: 0 12px;
    margin-bottom: 60px;
}

article > h2 {
    font-size: 32px;
}

article > p {
    line-height: 1.4;
}

.article-score {
    display: flex;
    align-items: center;
}

.article-datelocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

.article-datelocation > strong {
    font-size: 12px;
}

.locicon, .calicon-black, .star {
    width: 27px;
    height: 27px;
    display: inline-block;
}

.star {
    background: url(../img/star.svg) center no-repeat;
}

.locicon {
    background: url(../img/location.svg) center no-repeat;
}

.calicon-black {
    background: url(../img/calendar_blck.svg) center no-repeat;
}

.facebookshare, .twittershare, .pinterestshare {
    width: 27px;
    height: 27px;
    display: inline-block;
}

.facebookshare {
    background: url(../img/facebook_blck.svg) center no-repeat;
    margin-left: 10px;
}

.twittershare {
    background: url(../img/twitter_blck.svg) center no-repeat;
}

.pinterestshare {
    background: url(../img/pinterest_blck.svg) center no-repeat;
}

.share-article {
    width: 111px;
    margin: 45px auto;
}

aside {
    padding: 0 12px;
}

.calendar > table {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.calendar > table > thead {
    border-bottom: 1px solid black;
    font-weight: 500;
}

thead > tr {
    height: 40px;
}

tbody > tr {
    height: 35px;
}

.event-day {
    border-radius: 30px;
    background-color: #0071CE;
    color: white;
    font-weight: 500;
}

.map {
    width: 100%;
    height: 450px;
}

.commentbutton {
    display: block;
    width: 190px;
    text-align: center;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-weight: 500;
    padding: 10px 10px;
}

.comments {
    padding: 0 12px;
}

.commentbox {
    padding-bottom: 80px;
}

.profilepicture {
    display: inline-block;
    width: 51px;
    height: 51px;
    background-color: #e4e4e4;
    border-radius: 100px;
}

.userdata {
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0;
}

.commentinfo {
  display: inline-block;
  margin-left: 16px;
}

.username {
    font-weight: 500;
    display: block;
}

time {
    display: block;
}

.upvote, .downvote {
    width: 27px;
    height: 27px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.upvote {
    background: url(../img/thumbsup.svg) center no-repeat;
}

.downvote {
    background: url(../img/thumbsdown.svg) center no-repeat;
}

.commentinput {
    padding-bottom: 80px;
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 500;
}

.interests {
    background-color: black;
    width: 100%;
    padding: 20px 12px;
    margin-bottom: 60px;
}

.interests > h2 {
    color: white;
}


/* ////////////////// ESTILS RESPONSIVE ////////////////// */

/* ////////////////// TABLET ////////////////// */

@media only screen and (min-width: 768px) {

    .menubar {
        position: relative;
        height: 115px;
        display: block;
    }

    .menuicon {
        position: absolute;
        bottom: 15px;
        right: 34px;
    }

    .logo {
        position: absolute;
        left: 34px;
        bottom: 15px;
        width: 225px;
        height: 84px;
        background: url(../img/logo_L.svg) center no-repeat;
    }

    .searchicon {
        position: absolute;
        right: 60px;
        bottom: 15px;
    }

    .headimg {
        height: 50vh;
        margin-top: 0;
    }

    .headbox {
        height: 160px;
        bottom: 0;
        padding: 15px 28px;
    }

    .mainlink {
        font-size: 36px;
    }

    .highlight {
        display: flex;
        padding: 40px 28px 200px 28px;
        margin-top: 0;
    }

    .topsemanal, .opinion, .planes {
        width: 33%;
        height: 18vh;
    }

    .topsemanal {
        margin-left: 0;
    }

    .planes {
        margin-right: 0;
    }

    .imagebox {
        width: 48%;
        display: inline-block;
        margin: 0 0 40px 0;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        padding: 0 30px;
    }

    /* --- Footer --- */

    .footerwrapper {
        height: 520px;
    }

    .footericon {
        align-self: baseline;
    }

    .footerlinks {
        align-self: flex-end;
    }

    .social {
        align-self: baseline;
    }

    .copyright {
        float: right;
        margin: -30px 30px 0 0;
    }

    .copyright > span {
        align-self: flex-end;
    }

    /* Estils propis de l'article */

    .articleheader {
        height: 50vh;
    }

    article {
        padding: 0 30px;
    }

    article > h2 {
        font-size: 38px;
    }

    .article-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    aside {
        padding: 0 30px;
        display: flex;
    }

    .dates-calendar {
        width: 50%;
    }

    .map {
        width: 50%;
    }

    .share-article {
        width: 300px;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .commentbutton {
        float: right;
        margin-top: -49px;
    }

    .commentbody {
        line-height: 1.4;
    }

    .interests {
        padding: 20px 30px;
    }

    .interests-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

/* ////////////////// DESKTOP ////////////////// */

@media only screen and (min-width: 1024px) {

    /* Estils del menú */

    .menu {
        position: absolute;
        top: 150px;
        left: 0;
        height: 90px;
        display: none;
    }

    .open {
        display: block;
    }

    .closeicon {
        display: none;
    }

    .menuicon {
        width: 30px;
        height: 35px;
    }

    .menucontent {
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 15px;
    }

    .menucontent > form {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .menucontent > form > h3 {
        font-size: 16px;
    }

    .locselec {
        max-width: 200px;
    }

    .orderselec {
        max-width: 200px;
    }

    .distselec {
        max-width: 100px;
    }

    /* Estils de la pàgina */

    .statcontainer {
        padding: 0 18px;
        justify-content: flex-start;
    }

    .weatherinfo {
        margin: 0 0 0 30px;
    }

    .menubar {
        max-width: 1440px;
        margin: 0 auto;
    }

    .menuicon {
        bottom: 50px;
    }

    .categories {
        position: absolute;
        bottom: 15px;
        right: 30px;
    }

    .categories > ul {
        display: inline;
    }

    .categories > ul li {
        display: inline;
        margin-left: 20px;
        font-size: 11px;
    }

    header {
        background-color: black;
        height: 820px;
    }

    .headwrapper {
        max-width: 1440px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding: 30px 30px 0 30px;
    }

    .headimg {
        max-width: 910px;
        height: 510px;
        margin: 0 30px 0 0;
        z-index: 999;
    }

    .highlight {
        width: 40%;
        margin: 0;
        padding: 0;
        align-self: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hlink {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .topsemanal, .opinion {
        width: 48%;
        margin: 0 0 20px 0;
        height: 160px;
    }

    .planes {
        width: 100%;
        margin: 0;
        height: 160px;
    }

    .hlink {
        font-size: 2vw;
    }

    .planes > .hlink {
        font-size: 35px;
    }

    .searchcont {
        width: 100%;
        margin-bottom: 90px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .searchin {
        width: 90%;
        background-color: rgba(0,0,0,0);
        border: none;
        border-bottom: 3px solid white;
        padding: 10px 10px;
        font-size: 18px;
    }

    .siconwhite {
        width: 26px;
        height: 30px;
        background: url(../img/search_white.svg) center no-repeat;
        vertical-align: middle;
    }

    section {
        max-width: 1440px;
        margin: 0 auto;
    }

    .imagebox {
        width: 32%;
    }

    /* --- Footer --- */

    footer {
        width: 100%;
        background-color: black;
        height: 270px;
    }

    .copyright {
        float: none;
        width: 120px;
        margin: 0 auto;
        text-align: center;
    }

    .footerwrapper {
        max-width: 1440px;
        height: 250px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footerlinks {
        align-self: flex-start;
        display: flex;
    }

    .footerlist {
        margin-right: 30px;
    }

    .social {
        align-self: flex-start;
    }

    .social > h4 {
        margin-top: 0;
    }

    /* Estils propis de l'article */

    .articleheader {
        height: 510px;
    }

    .headwrapper-article {
        max-width: 1440px;
        height: 510px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 30px;
    }

    .interests {
        margin: 0;
        padding: 0;
    }

    .highlight.related > .searchcont {
        margin-bottom: 45px;
    }

    .interests-wrapper > .imagebox {
        width: 100%;
        height: 280px;
    }

    .content-main {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
    }

    .share-article {
        margin-top: 50px;
    }

    article {
        width: 60%;
        display: inline-block;
    }

    article p:last-child {
        margin-bottom: 60px;
    }

    aside {
        position: absolute;
        top: 35px;
        right: 0;
        flex-direction: column;
        width: 380px;
    }

    .articlecatbox {
        z-index: 1002;
    }

    .comments {
        width: 60%;
        padding: 0 30px;
    }

    p:last-child {
        margin-bottom: 90px;
    }
}

/* ////////////////// BIG DESKTOP +1440px width ////////////////// */


@media only screen and (min-width: 1440px) {
    .hlink {
        font-size: 35px;
    }

    .categories > ul li {
        font-size: 14px;
    }

    .locselec {
        max-width: 280px;
    }

    .orderselec {
        max-width: 280px;
    }

    .distselec {
        max-width: 147px;
    }

    /* Estils propis de l'article */

    .headwrapper-article {
        /*padding-left: 130px;*/
    }

    .headwrapper-article > .headimg {
        width: 900px;
    }

    .interests-wrapper > .imagebox {
        width: 48%;
    }

    article {
        width: 790px;
        padding: 0;
    }

    .content-main {
        padding-left: 130px;
    }

    aside {
        width: 440px;
    }

    .comments {
        width: 790px;
        padding: 0;
    }
}
